.DS_Store
WANDB_API_KEY.txt
dpr-model/WANDB_API_KEY.txt
dpr-model/wand/*
dpr-model/data/.ipynb_checkpoints/*
dpr-model/.ipynb_checkpoints/WANDB_API_KEY-checkpoint.txt

bert-model/best_sbert_model/config_sentence_transformers.json
bert-model/best_sbert_model/config.json
bert-model/best_sbert_model/model.safetensors
bert-model/best_sbert_model/modules.json
bert-model/best_sbert_model/README.md
bert-model/best_sbert_model/sentence_bert_config.json
bert-model/best_sbert_model/special_tokens_map.json
bert-model/best_sbert_model/tokenizer_config.json
bert-model/best_sbert_model/tokenizer.json
bert-model/best_sbert_model/vocab.txt
bert-model/best_sbert_model/1_Pooling/config.json
bert-model/saved_models/best_model.pth
bert-model/wandb/run-20250403_201425-9vuig9ji/run-9vuig9ji.wandb
bert-model/wandb/run-20250403_201425-9vuig9ji/files/config.yaml
bert-model/wandb/run-20250403_201425-9vuig9ji/files/output.log
bert-model/wandb/run-20250403_201425-9vuig9ji/files/requirements.txt
bert-model/wandb/run-20250403_201425-9vuig9ji/files/wandb-metadata.json
bert-model/wandb/run-20250403_201425-9vuig9ji/files/wandb-summary.json
bert-model/wandb/run-20250403_201425-9vuig9ji/logs/debug-internal.log
bert-model/wandb/run-20250403_201425-9vuig9ji/logs/debug.log
bert-model/wandb/run-20250403_201628-bwd9yhkt/run-bwd9yhkt.wandb
bert-model/wandb/run-20250403_201628-bwd9yhkt/files/config.yaml
bert-model/wandb/run-20250403_201628-bwd9yhkt/files/output.log
bert-model/wandb/run-20250403_201628-bwd9yhkt/files/requirements.txt
bert-model/wandb/run-20250403_201628-bwd9yhkt/files/wandb-metadata.json
bert-model/wandb/run-20250403_201628-bwd9yhkt/files/wandb-summary.json
bert-model/wandb/run-20250403_201628-bwd9yhkt/logs/debug-internal.log
bert-model/wandb/run-20250403_201628-bwd9yhkt/logs/debug.log
bert-model/wandb/run-20250403_201741-a6uoqyu8/run-a6uoqyu8.wandb
bert-model/wandb/run-20250403_201741-a6uoqyu8/files/config.yaml
bert-model/wandb/run-20250403_201741-a6uoqyu8/files/output.log
bert-model/wandb/run-20250403_201741-a6uoqyu8/files/requirements.txt
bert-model/wandb/run-20250403_201741-a6uoqyu8/files/wandb-metadata.json
bert-model/wandb/run-20250403_201741-a6uoqyu8/files/wandb-summary.json
bert-model/wandb/run-20250403_201741-a6uoqyu8/logs/debug-internal.log
bert-model/wandb/run-20250403_201741-a6uoqyu8/logs/debug.log
bert-model/wandb/run-20250403_201859-bl84xwdo/run-bl84xwdo.wandb
bert-model/wandb/run-20250403_201859-bl84xwdo/files/config.yaml
bert-model/wandb/run-20250403_201859-bl84xwdo/files/output.log
bert-model/wandb/run-20250403_201859-bl84xwdo/files/requirements.txt
bert-model/wandb/run-20250403_201859-bl84xwdo/files/wandb-metadata.json
bert-model/wandb/run-20250403_201859-bl84xwdo/files/wandb-summary.json
bert-model/wandb/run-20250403_201859-bl84xwdo/logs/debug-internal.log
bert-model/wandb/run-20250403_201859-bl84xwdo/logs/debug.log
bert-model/wandb/run-20250403_202027-r08qvmli/run-r08qvmli.wandb
bert-model/wandb/run-20250403_202027-r08qvmli/files/config.yaml
bert-model/wandb/run-20250403_202027-r08qvmli/files/output.log
bert-model/wandb/run-20250403_202027-r08qvmli/files/requirements.txt
bert-model/wandb/run-20250403_202027-r08qvmli/files/wandb-metadata.json
bert-model/wandb/run-20250403_202027-r08qvmli/files/wandb-summary.json
bert-model/wandb/run-20250403_202027-r08qvmli/logs/debug-internal.log
bert-model/wandb/run-20250403_202027-r08qvmli/logs/debug.log
bert-model/wandb/run-20250403_202203-6x3ic7is/run-6x3ic7is.wandb
bert-model/wandb/run-20250403_202203-6x3ic7is/files/config.yaml
bert-model/wandb/run-20250403_202203-6x3ic7is/files/output.log
bert-model/wandb/run-20250403_202203-6x3ic7is/files/requirements.txt
bert-model/wandb/run-20250403_202203-6x3ic7is/files/wandb-metadata.json
bert-model/wandb/run-20250403_202203-6x3ic7is/files/wandb-summary.json
bert-model/wandb/run-20250403_202203-6x3ic7is/logs/debug-internal.log
bert-model/wandb/run-20250403_202203-6x3ic7is/logs/debug.log
bert-model/wandb/run-20250403_202327-c7bxa0ai/run-c7bxa0ai.wandb
bert-model/wandb/run-20250403_202327-c7bxa0ai/files/config.yaml
bert-model/wandb/run-20250403_202327-c7bxa0ai/files/output.log
bert-model/wandb/run-20250403_202327-c7bxa0ai/files/requirements.txt
bert-model/wandb/run-20250403_202327-c7bxa0ai/files/wandb-metadata.json
bert-model/wandb/run-20250403_202327-c7bxa0ai/files/wandb-summary.json
bert-model/wandb/run-20250403_202327-c7bxa0ai/logs/debug-internal.log
bert-model/wandb/run-20250403_202327-c7bxa0ai/logs/debug.log
bert-model/wandb/run-20250403_202529-v5kbscdb/run-v5kbscdb.wandb
bert-model/wandb/run-20250403_202529-v5kbscdb/files/config.yaml
bert-model/wandb/run-20250403_202529-v5kbscdb/files/output.log
bert-model/wandb/run-20250403_202529-v5kbscdb/files/requirements.txt
bert-model/wandb/run-20250403_202529-v5kbscdb/files/wandb-metadata.json
bert-model/wandb/run-20250403_202529-v5kbscdb/files/wandb-summary.json
bert-model/wandb/run-20250403_202529-v5kbscdb/logs/debug-internal.log
bert-model/wandb/run-20250403_202529-v5kbscdb/logs/debug.log
bert-model/wandb/run-20250403_202645-wbh8rgvb/run-wbh8rgvb.wandb
bert-model/wandb/run-20250403_202645-wbh8rgvb/files/config.yaml
bert-model/wandb/run-20250403_202645-wbh8rgvb/files/output.log
bert-model/wandb/run-20250403_202645-wbh8rgvb/files/requirements.txt
bert-model/wandb/run-20250403_202645-wbh8rgvb/files/wandb-metadata.json
bert-model/wandb/run-20250403_202645-wbh8rgvb/files/wandb-summary.json
bert-model/wandb/run-20250403_202645-wbh8rgvb/logs/debug-internal.log
bert-model/wandb/run-20250403_202645-wbh8rgvb/logs/debug.log
bert-model/wandb/run-20250403_202753-ihz4p10d/run-ihz4p10d.wandb
bert-model/wandb/run-20250403_202753-ihz4p10d/files/config.yaml
bert-model/wandb/run-20250403_202753-ihz4p10d/files/output.log
bert-model/wandb/run-20250403_202753-ihz4p10d/files/requirements.txt
bert-model/wandb/run-20250403_202753-ihz4p10d/files/wandb-metadata.json
bert-model/wandb/run-20250403_202753-ihz4p10d/files/wandb-summary.json
bert-model/wandb/run-20250403_202753-ihz4p10d/logs/debug-internal.log
bert-model/wandb/run-20250403_202753-ihz4p10d/logs/debug.log
bert-model/wandb/run-20250403_203308-tre2bps9/run-tre2bps9.wandb
bert-model/wandb/run-20250403_203308-tre2bps9/files/config.yaml
bert-model/wandb/run-20250403_203308-tre2bps9/files/output.log
bert-model/wandb/run-20250403_203308-tre2bps9/files/requirements.txt
bert-model/wandb/run-20250403_203308-tre2bps9/files/wandb-metadata.json
bert-model/wandb/run-20250403_203308-tre2bps9/files/wandb-summary.json
bert-model/wandb/run-20250403_203308-tre2bps9/logs/debug-internal.log
bert-model/wandb/run-20250403_203308-tre2bps9/logs/debug.log
bert-model/wandb/run-20250403_203909-p40ti7hd/run-p40ti7hd.wandb
bert-model/wandb/run-20250403_203909-p40ti7hd/files/config.yaml
bert-model/wandb/run-20250403_203909-p40ti7hd/files/output.log
bert-model/wandb/run-20250403_203909-p40ti7hd/files/requirements.txt
bert-model/wandb/run-20250403_203909-p40ti7hd/files/wandb-metadata.json
bert-model/wandb/run-20250403_203909-p40ti7hd/files/wandb-summary.json
bert-model/wandb/run-20250403_203909-p40ti7hd/logs/debug-internal.log
bert-model/wandb/run-20250403_203909-p40ti7hd/logs/debug.log
bert-model/wandb/run-20250403_211458-fwk3nveg/run-fwk3nveg.wandb
bert-model/wandb/run-20250403_211458-fwk3nveg/files/config.yaml
bert-model/wandb/run-20250403_211458-fwk3nveg/files/output.log
bert-model/wandb/run-20250403_211458-fwk3nveg/files/requirements.txt
bert-model/wandb/run-20250403_211458-fwk3nveg/files/wandb-metadata.json
bert-model/wandb/run-20250403_211458-fwk3nveg/files/wandb-summary.json
bert-model/wandb/run-20250403_211458-fwk3nveg/logs/debug-internal.log
bert-model/wandb/run-20250403_211458-fwk3nveg/logs/debug.log
bert-model/wandb/run-20250403_211658-uyibq9ja/run-uyibq9ja.wandb
bert-model/wandb/run-20250403_211658-uyibq9ja/files/config.yaml
bert-model/wandb/run-20250403_211658-uyibq9ja/files/output.log
bert-model/wandb/run-20250403_211658-uyibq9ja/files/requirements.txt
bert-model/wandb/run-20250403_211658-uyibq9ja/files/wandb-metadata.json
bert-model/wandb/run-20250403_211658-uyibq9ja/files/wandb-summary.json
bert-model/wandb/run-20250403_211658-uyibq9ja/logs/debug-internal.log
bert-model/wandb/run-20250403_211658-uyibq9ja/logs/debug.log
bert-model/wandb/run-20250403_211824-pgcnzsat/run-pgcnzsat.wandb
bert-model/wandb/run-20250403_211824-pgcnzsat/files/config.yaml
bert-model/wandb/run-20250403_211824-pgcnzsat/files/output.log
bert-model/wandb/run-20250403_211824-pgcnzsat/files/requirements.txt
bert-model/wandb/run-20250403_211824-pgcnzsat/files/wandb-metadata.json
bert-model/wandb/run-20250403_211824-pgcnzsat/files/wandb-summary.json
bert-model/wandb/run-20250403_211824-pgcnzsat/logs/debug-internal.log
bert-model/wandb/run-20250403_211824-pgcnzsat/logs/debug.log
bert-model/wandb/run-20250403_211943-ujr2vi46/run-ujr2vi46.wandb
bert-model/wandb/run-20250403_211943-ujr2vi46/files/config.yaml
bert-model/wandb/run-20250403_211943-ujr2vi46/files/output.log
bert-model/wandb/run-20250403_211943-ujr2vi46/files/requirements.txt
bert-model/wandb/run-20250403_211943-ujr2vi46/files/wandb-metadata.json
bert-model/wandb/run-20250403_211943-ujr2vi46/files/wandb-summary.json
bert-model/wandb/run-20250403_211943-ujr2vi46/logs/debug-internal.log
bert-model/wandb/run-20250403_211943-ujr2vi46/logs/debug.log
bert-model/wandb/run-20250403_212124-537mvda0/run-537mvda0.wandb
bert-model/wandb/run-20250403_212124-537mvda0/files/config.yaml
bert-model/wandb/run-20250403_212124-537mvda0/files/output.log
bert-model/wandb/run-20250403_212124-537mvda0/files/requirements.txt
bert-model/wandb/run-20250403_212124-537mvda0/files/wandb-metadata.json
bert-model/wandb/run-20250403_212124-537mvda0/files/wandb-summary.json
bert-model/wandb/run-20250403_212124-537mvda0/logs/debug-internal.log
bert-model/wandb/run-20250403_212124-537mvda0/logs/debug.log
bert-model/wandb/run-20250403_212231-ethv2lwf/run-ethv2lwf.wandb
bert-model/wandb/run-20250403_212231-ethv2lwf/files/config.yaml
bert-model/wandb/run-20250403_212231-ethv2lwf/files/output.log
bert-model/wandb/run-20250403_212231-ethv2lwf/files/requirements.txt
bert-model/wandb/run-20250403_212231-ethv2lwf/files/wandb-metadata.json
bert-model/wandb/run-20250403_212231-ethv2lwf/files/wandb-summary.json
bert-model/wandb/run-20250403_212231-ethv2lwf/logs/debug-internal.log
bert-model/wandb/run-20250403_212231-ethv2lwf/logs/debug.log
bert-model/wandb/run-20250403_212412-49isgoje/run-49isgoje.wandb
bert-model/wandb/run-20250403_212412-49isgoje/files/config.yaml
bert-model/wandb/run-20250403_212412-49isgoje/files/output.log
bert-model/wandb/run-20250403_212412-49isgoje/files/requirements.txt
bert-model/wandb/run-20250403_212412-49isgoje/files/wandb-metadata.json
bert-model/wandb/run-20250403_212412-49isgoje/files/wandb-summary.json
bert-model/wandb/run-20250403_212412-49isgoje/logs/debug-internal.log
bert-model/wandb/run-20250403_212412-49isgoje/logs/debug.log
bert-model/wandb/run-20250403_212546-oo3s38a6/run-oo3s38a6.wandb
bert-model/wandb/run-20250403_212546-oo3s38a6/files/config.yaml
bert-model/wandb/run-20250403_212546-oo3s38a6/files/output.log
bert-model/wandb/run-20250403_212546-oo3s38a6/files/requirements.txt
bert-model/wandb/run-20250403_212546-oo3s38a6/files/wandb-metadata.json
bert-model/wandb/run-20250403_212546-oo3s38a6/files/wandb-summary.json
bert-model/wandb/run-20250403_212546-oo3s38a6/logs/debug-internal.log
bert-model/wandb/run-20250403_212546-oo3s38a6/logs/debug.log
bert-model/wandb/run-20250403_212715-t610tcj3/run-t610tcj3.wandb
bert-model/wandb/run-20250403_212715-t610tcj3/files/config.yaml
bert-model/wandb/run-20250403_212715-t610tcj3/files/output.log
bert-model/wandb/run-20250403_212715-t610tcj3/files/requirements.txt
bert-model/wandb/run-20250403_212715-t610tcj3/files/wandb-metadata.json
bert-model/wandb/run-20250403_212715-t610tcj3/files/wandb-summary.json
bert-model/wandb/run-20250403_212715-t610tcj3/logs/debug-internal.log
bert-model/wandb/run-20250403_212715-t610tcj3/logs/debug.log
bert-model/wandb/run-20250403_212828-7h7mhei1/run-7h7mhei1.wandb
bert-model/wandb/run-20250403_212828-7h7mhei1/files/config.yaml
bert-model/wandb/run-20250403_212828-7h7mhei1/files/output.log
bert-model/wandb/run-20250403_212828-7h7mhei1/files/requirements.txt
bert-model/wandb/run-20250403_212828-7h7mhei1/files/wandb-metadata.json
bert-model/wandb/run-20250403_212828-7h7mhei1/files/wandb-summary.json
bert-model/wandb/run-20250403_212828-7h7mhei1/logs/debug-internal.log
bert-model/wandb/run-20250403_212828-7h7mhei1/logs/debug.log
bert-model/wandb/run-20250403_213220-a2fe1hti/run-a2fe1hti.wandb
bert-model/wandb/run-20250403_213220-a2fe1hti/files/config.yaml
bert-model/wandb/run-20250403_213220-a2fe1hti/files/output.log
bert-model/wandb/run-20250403_213220-a2fe1hti/files/requirements.txt
bert-model/wandb/run-20250403_213220-a2fe1hti/files/wandb-metadata.json
bert-model/wandb/run-20250403_213220-a2fe1hti/files/wandb-summary.json
bert-model/wandb/run-20250403_213220-a2fe1hti/logs/debug-internal.log
bert-model/wandb/run-20250403_213220-a2fe1hti/logs/debug.log
bert-model/wandb/run-20250403_213535-qp805gax/run-qp805gax.wandb
bert-model/wandb/run-20250403_213535-qp805gax/files/config.yaml
bert-model/wandb/run-20250403_213535-qp805gax/files/output.log
bert-model/wandb/run-20250403_213535-qp805gax/files/requirements.txt
bert-model/wandb/run-20250403_213535-qp805gax/files/wandb-metadata.json
bert-model/wandb/run-20250403_213535-qp805gax/files/wandb-summary.json
bert-model/wandb/run-20250403_213535-qp805gax/logs/debug-internal.log
bert-model/wandb/run-20250403_213535-qp805gax/logs/debug.log
bert-model/wandb/run-20250403_214217-he9cvnj4/run-he9cvnj4.wandb
bert-model/wandb/run-20250403_214217-he9cvnj4/files/config.yaml
bert-model/wandb/run-20250403_214217-he9cvnj4/files/output.log
bert-model/wandb/run-20250403_214217-he9cvnj4/files/requirements.txt
bert-model/wandb/run-20250403_214217-he9cvnj4/files/wandb-metadata.json
bert-model/wandb/run-20250403_214217-he9cvnj4/files/wandb-summary.json
bert-model/wandb/run-20250403_214217-he9cvnj4/logs/debug-internal.log
bert-model/wandb/run-20250403_214217-he9cvnj4/logs/debug.log
bert-model/wandb/run-20250403_214346-43u604vw/run-43u604vw.wandb
bert-model/wandb/run-20250403_214346-43u604vw/files/config.yaml
bert-model/wandb/run-20250403_214346-43u604vw/files/output.log
bert-model/wandb/run-20250403_214346-43u604vw/files/requirements.txt
bert-model/wandb/run-20250403_214346-43u604vw/files/wandb-metadata.json
bert-model/wandb/run-20250403_214346-43u604vw/files/wandb-summary.json
bert-model/wandb/run-20250403_214346-43u604vw/logs/debug-internal.log
bert-model/wandb/run-20250403_214346-43u604vw/logs/debug.log
bert-model/wandb/run-20250403_214457-nc3ed1aw/run-nc3ed1aw.wandb
bert-model/wandb/run-20250403_214457-nc3ed1aw/files/config.yaml
bert-model/wandb/run-20250403_214457-nc3ed1aw/files/output.log
bert-model/wandb/run-20250403_214457-nc3ed1aw/files/requirements.txt
bert-model/wandb/run-20250403_214457-nc3ed1aw/files/wandb-metadata.json
bert-model/wandb/run-20250403_214457-nc3ed1aw/files/wandb-summary.json
bert-model/wandb/run-20250403_214457-nc3ed1aw/logs/debug-internal.log
bert-model/wandb/run-20250403_214457-nc3ed1aw/logs/debug.log
bert-model/wandb/run-20250403_214555-x3dqi3cq/run-x3dqi3cq.wandb
bert-model/wandb/run-20250403_214555-x3dqi3cq/files/config.yaml
bert-model/wandb/run-20250403_214555-x3dqi3cq/files/output.log
bert-model/wandb/run-20250403_214555-x3dqi3cq/files/requirements.txt
bert-model/wandb/run-20250403_214555-x3dqi3cq/files/wandb-metadata.json
bert-model/wandb/run-20250403_214555-x3dqi3cq/files/wandb-summary.json
bert-model/wandb/run-20250403_214555-x3dqi3cq/logs/debug-internal.log
bert-model/wandb/run-20250403_214555-x3dqi3cq/logs/debug.log
