.DS_Store
WANDB_API_KEY.txt
dpr-model/WANDB_API_KEY.txt
dpr-model/wand/*
dpr-model/data/.ipynb_checkpoints/*
dpr-model/.ipynb_checkpoints/WANDB_API_KEY-checkpoint.txt
dpr-model/wandb/run-20250329_213739-90jk6eou/files/requirements.txt
dpr-model/wandb/run-20250329_213739-90jk6eou/files/wandb-metadata.json
dpr-model/wandb/run-20250329_221829-t40vrqgy/run-t40vrqgy.wandb
dpr-model/wandb/run-20250329_221829-t40vrqgy/files/output.log
dpr-model/wandb/run-20250329_221829-t40vrqgy/files/requirements.txt
dpr-model/wandb/run-20250329_221829-t40vrqgy/files/wandb-metadata.json
dpr-model/wandb/run-20250329_221829-t40vrqgy/files/code/dpr-model/DRP_for_gaps.ipynb
dpr-model/wandb/run-20250329_221829-t40vrqgy/logs/debug-internal.log
dpr-model/wandb/run-20250329_221829-t40vrqgy/logs/debug.log
dpr-model/wandb/run-20250329_221829-t40vrqgy/tmp/code/DRP_for_gaps.ipynb
dpr-model/wandb/run-20250329_223638-xtj7ybnn/run-xtj7ybnn.wandb
dpr-model/wandb/run-20250329_223638-xtj7ybnn/files/output.log
dpr-model/wandb/run-20250329_223638-xtj7ybnn/files/requirements.txt
dpr-model/wandb/run-20250329_223638-xtj7ybnn/files/wandb-metadata.json
dpr-model/wandb/run-20250329_223638-xtj7ybnn/files/code/dpr-model/DRP_for_gaps.ipynb
dpr-model/wandb/run-20250329_223638-xtj7ybnn/logs/debug-internal.log
dpr-model/wandb/run-20250329_223638-xtj7ybnn/logs/debug.log
dpr-model/wandb/run-20250329_230141-vvwhatji/logs/debug.log
dpr-model/wandb/run-20250329_223638-xtj7ybnn/tmp/code/DRP_for_gaps.ipynb
